<div mat-dialog-content class="content-data">
    <svg (click)="closeModal()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill  close" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
      </svg>
    <div class="imagen-pokemon">
        <h2> {{data.pokemon.name}}</h2>
        <hr>
        <img src="assets/pokemon/{{data.pokemon.id}}.png" alt="">
    </div>
    <div class="datos-pokemon">
        <h4>Atributos</h4>
        <table class="table">
            <thead class="thead">
                <tr>
                    <th>Estadística base</th>
                    <th>Esfuerzo</th>
                    <th>Nombre atributo</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let stat of data.pokemon.stats">
                    <td>{{stat.base_stat}}</td>
                    <td>{{stat.effort}}</td>
                    <td>{{stat.stat.name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="btn-group">
    <button class="btn btn-primary" *ngIf="pokemon1 === null" (click)="selecionarPokemon(data.pokemon)">Seleccionar a {{data.pokemon.name}} 1</button>
    <button class="btn btn-primary" *ngIf="pokemon1 !== null" [disabled]="pokemon2 !== null" (click)="selecionarPokemon2(data.pokemon)">Seleccionar a {{data.pokemon.name}} 2</button>
    <p *ngIf="pokemon2 !== null">* ya estas los dos pokemones para el duelo para volver a selecionar has click aca <a href="#" (click)="limpiar()">volver a selecionar</a></p>
</div>