.pokebola2 {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/51/Pokebola-pokeball-png-0.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* Center the image */
    height: 150px;
    width: 150px;
    position: fixed;
    top: 80%;
    animation-name: identifier2;
    animation-duration: 0.5s;
    left: 90%;
    /* You must set a specified height */
    cursor: pointer;
}

@keyframes identifier2 {
    0% {
        left: 93%;
        opacity: 0.2;
    }
    30% {
        left: 91%;
        opacity: 0.4;
    }
    68%,
    72% {
        left: 91%;
        opacity: 0.6;
    }
    100% {
        left: 90%;
        opacity: 1;
    }
}

.pokebola2-abierta {
    background-image: url(https://cdn.pixabay.com/photo/2019/11/18/15/46/pokemon-4635112_640.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 208px;
    width: 163px;
    position: fixed;
    top: 72%;
    left: 87%;
    cursor: pointer;
}

::ng-deep .mat-dialog-container {
    width: 70% !important;
    height: 50% !important;
    margin: 0 auto !important;
}

@media screen and (max-width: 768px) {
     ::ng-deep .mat-dialog-container {
        width: 100% !important;
        height: 100% !important;
    }
}

@media screen and (max-width: 768px) {
    .pokebola2 {
        height: 79px;
        width: 79px;
        left: 75%;
    }
    .pokebola2-abierta {
        height: 80px;
        width: 62px;
        left: 75%;
    }
}